/************************************************************************************
Default Color
Color Primary: #6caf17;
Color Primary Hover: #549006;
Color Secondary: #ffb307;
Color Secondary Hover: #C98C00;
************************************************************************************/

/*Reset Css*/

::-moz-selection {
  background: #6caf17;
}
::selection {
  background: #6caf17;
}
button:hover,
input[type='button']:hover,
input[type='reset']:hover,
input[type='submit']:hover {
  border-color: #549006; 
}
div.bootstrap-iso select.form-control:focus,
div.bootstrap-iso input.form-control:focus,
.main-banner.log-reg .overlay-text input[type='text']:focus,
input[type='text']:focus,
input[type='email']:focus,
input[type='url']:focus,
input[type='password']:focus,
input[type='search']:focus,
input[type='number']:focus,
input[type='tel']:focus,
input[type='range']:focus,
input[type='date']:focus,
input[type='month']:focus,
input[type='week']:focus,
input[type='time']:focus,
input[type='datetime']:focus,
input[type='datetime-local']:focus,
input[type='color']:focus,
textarea:focus,
textarea.form-control:focus {
  border-color: #6caf17 !important;
  box-shadow: 0 0px 0px #6caf17 inset, 0 0 0px #6caf17 !important; 
}
a:hover,
a:focus,
a:active {
  color: #6caf17;
}
/*---------------------------- End of Reset Code ----------------*/

/*============ background =======================================================================*/
button, 
input[type='button'], 
input[type='reset'], 
input[type='submit'],

div.wedocs-single-wrap .wedocs-sidebar ul.doc-nav-list > li.current_page_parent > a, 
div.wedocs-single-wrap .wedocs-sidebar ul.doc-nav-list > li.current_page_item > a, 
div.wedocs-single-wrap .wedocs-sidebar ul.doc-nav-list > li.current_page_ancestor > a,

button.fes-ignore.fes-ignore-comments-form-submit-button.button, 
button.fes-cmt-submit-form.fes-comments-form-submit-button.button, 
a.fes-avatar-image-btn.edd-submit.button, 
a.fes-feat-image-btn.edd-submit.button, 
a#multiple, 
a.edd-submit.button.upload_file_button, 
.fes-vendor-contact-form div.fes-form .fes-submit input[type=submit], 
.fes-login-form div.fes-form .fes-submit input[type=submit], 
.fes-registration-form div.fes-form .fes-submit input[type=submit], 
#edd-purchase-button, 
.edd-submit, 
[type=submit].edd-submit, 
a.edd-add-to-cart, 
a.edd-submit.button.blue, 
.edd_purchase_submit_wrapper a.edd-add-to-cart.edd-has-js,

.btn-hover.color-primary,
.search-dropdown-menu .btn.btn-search,
.faqs-1x .single-faq .card-header.request-button a.accordion-toggle.collapsed,
.bbpress .widget dd,
.page-content button.btn.btn-search, 
.widget button.btn.btn-search,
.product-description-1x .product-description-left .product-description-tab .tab-content .authors-review .media .media-body h3 b,
.ColorSwitcher__control,
.comming-soon-banner .overlay-text .footer-social-link ul li i,
.events-1x .events-single b,
.blog-list-1x .blog-list-right .blog-subscriber .btn-search,
.blog-list-1x .blog-list-right .blog-search .btn-search,
.blog-list-1x .blog-list-single span.blog-date,
.features-description-2x .single-description .btn-bordered,
.testimonial-section-2x ul.slick-dots li.slick-active button,
.about-banner .overlay-text a.btn-circle,
.main-menu-green,
.latest-product-1x .latest-product-title-right .course-menu button.active,
.footer-subscriber button.btn-subscriber,
.footer-section-1x .footer-top .footer-top-left .footer-subscriber button.btn-subscriber,
.main-banner .overlay-text button.btn.btn-search,
.sign-in span sup,
a.btn-ellips,
a.btn-small,
a.btn-large,
.is-sticky .sign-in span sup,
a.subscription-toggle,
.active-sticker,
.pricing-plan-1x .single-pricing.active .btn-bordered {
    background: #6caf17;
}

/***** Background hover *****/
.btn-hover.color-primary:hover,
button, input[type='button']:hover, 
input[type='reset']:hover, 
input[type='submit']:hover,  
.edd-submit:hover, 
[type=submit].edd-submit:hover, 
button.fes-ignore.fes-ignore-comments-form-submit-button.button:hover, 
button.fes-cmt-submit-form.fes-comments-form-submit-button.button:hover, 
a.fes-feat-image-btn.edd-submit.button:hover, 
a#multiple:hover, 
.fes-vendor-contact-form div.fes-form .fes-submit input[type=submit]:hover, 
.fes-login-form div.fes-form .fes-submit input[type=submit]:hover, 
.fes-registration-form div.fes-form .fes-submit input[type=submit]:hover, 
a.edd-submit.button.upload_file_button:hover, 
#edd-purchase-button:hover, 
a.edd-add-to-cart:hover, 
a.edd-submit.button.blue:hover, 
.edd_purchase_submit_wrapper a.edd-add-to-cart.edd-has-js:hover,
a.btn-small:focus,
a.btn-small:hover,
.backtotop:hover,
.author-profile-banner.author-profile-banner-2x .sale-price-info ul a.btn-large:hover,
.violet-cta .cta-right .btn-large:hover,
.about-us-3x .about-us-left .btn-bordered:hover,
.events-1x .events-single .events-single-content a.btn-small:hover,
.blog-list-1x .blog-list-right .tag-link a:hover,
.blog-list-1x .blog-list-single .blog-list-content .blog-footer a.btn-small:hover,
.job-board-1x .single-job a:hover,
.product-description-1x .product-description-left .image-bottom a.btn-small:hover,
.course-grid-list .media:hover .product-content h3 a.btn-bordered,
.latest-product-1x .latest-product-title-right .course-menu button:hover,
.cta-1x .cta-right .btn-large:hover,
a.edd-submit.button.blue.active, 
a.edd-submit.button.blue:focus,
.sign-in .cart-dropdown-menu ul li a.btn-large:hover,
.sign-in .cart-dropdown-menu ul li:hover a.btn-large:hover,
a.btn-large:hover,
a.btn-bordered:hover {
    background: #549006;
}

/*=============== color =============================================================================*/
.article-child.well ul.children li:hover:before,
.wedocs-shortcode-wrap ul.wedocs-docs-list ul.wedocs-doc-sections li:hover:before,
div.wedocs-shortcode-wrap ul.wedocs-docs-list ul.wedocs-doc-sections,
div.wedocs-single-wrap .wedocs-sidebar ul.doc-nav-list li:hover ul.children a,

.contact-info .info-adress b,
.single-product:hover .product-details.graphicland-product-details .content-title a,
.single-product .product-details.graphicland-product-details .content-title strong,
.graphicland-one .single-product .product-details.graphicland-product-details .content-title strong,
.faqs-1x .single-faq .card-header .accordion-toggle.collapsed:after,
.price-box .edd_price_options input[type='radio']:checked+span:before, 
.price-box .edd_price_options input[type='checkbox']:checked+span:before,
.graphicland-demo.graphicland-woo .graphicland-feature ul li::before,
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover,
.product-description-right .purchase-comments h2 i,
.product-management .nav-tabs .nav-item.show .nav-link, 
.product-management .nav-tabs .nav-link:hover, 
.product-management .nav-tabs .nav-link.active,
.testimonial-section-1x .single-slide h3,
.footer-bottom p a,
.product-management .nav-tabs .nav-item.show .nav-link, 
.product-management .nav-tabs .nav-link:hover, 
.product-management .nav-tabs .nav-link.active,
.main-banner.log-reg .overlay-text p b,
.log-reg #edd_login_form legend, 
.log-reg #edd_register_form legend,
.price-box .edd_price_options input[type='radio']:not(:disabled)+span:hover:before, 
.price-box .edd_price_options input[type='checkbox']:not(:disabled)+span:hover:before,
.graphicland-one .single-product .product-details .product-content p a:hover,
a .doc-block:hover h3,
.navbar-light .navbar-nav .active > .nav-link,
.latest-product-1x.photography-filter .latest-product-title-right .course-menu button.active,
.latest-product-1x.photography-filter .latest-product-title-right .course-menu button:hover,
.team-members-left a:hover,
.blog-content a:hover,

.main-menu-1x.main-menu-6x .sign-in a:hover,
.author-profile-banner.author-profile-banner-2x .sale-price-info ul a.btn-small:hover,
.author-profile-banner.author-profile-banner-2x .sale-price-info ul a.btn-large,
.author-profile-banner.author-profile-banner-2x .sale-price-info ul .item-price h2 span,
.product-single-banner .product-banner-right h3 i,
.main-menu-1x.main-menu-6x .main-menu .navbar-nav .nav-link:hover,
.main-menu-1x.main-menu-6x .navbar-light .navbar-nav .active > .nav-link,
.service-3x .single-service:hover a,
.featured-product-single-8 .media h4 a:hover,
.single-featured-product:hover a.prod-title,
.single-featured-product .featured-content a.prod-title:hover,
.single-featured-product .featured-content h3 span,
.featured-product-single-8 .media .media-body a.prod-title:hover,
.testimonial-section-3x .single-testimonial i,
.featured-product-single-8 .media .media-body h2,
.service-3x .single-service a:hover,
.blog-single-1x .blog-single-left-content .comment-section .media .media-body h5.author-meta,
.photography.footer-section-1x .footer-top .footer-top-left .single-link ul li a:hover,

.btco-hover-menu .active a, .btco-hover-menu .active a:focus, 
.btco-hover-menu .active a:hover, .btco-hover-menu li a:hover, 
.comment-section .media .media-body h5 span a,
.comment-section .media .media-body h5,
.checkout-page-1x .order-info ul li a,
.cart-page-1x .cart-page-content .table td a,
.cart-page-1x .cart-page-content .table th .media .media-body a:hover,
.sign-in .cart-dropdown-menu ul li .media .media-body h3,
.sign-in .cart-dropdown-menu ul li .media .media-body h4 a:hover,
.error-page .error-page-content span,
.btco-hover-menu .sign-in .media-dropdown-menu ul li:hover a,
.product-description-1x .product-description-left .product-description-tab .tab-content .author-downloads a,
.main-menu-white .navbar-light .navbar-nav .nav-link:hover,
.main-menu-white .navbar-light .navbar-nav .active > .nav-link,
.about-us-3x .about-us-left .btn-bordered,
.about-us-3x .about-us-left a.btn-small:hover,
.about-us-3x .about-us-left h2 span,
.events-1x .events-single .events-single-content a.btn-small,
.events-1x .events-single .events-single-content a:hover,
.events-banner .overlay-text .countdown-timer ul li:nth-child(1),
.events-banner .overlay-text h4,
.blog-1x .blog-single .blog-single-content a:hover,
.blog-single-1x .blog-single-left-content .comment-section .media .media-body h5 span a,
.blog-single-1x .blog-single-left-content .comment-section .media .media-body h5,
.blog-list-1x .blog-list-right .category-link ul li a:hover,
.blog-list-1x .blog-list-right .recent-popular-post .recent-popular-tab .recent-post .media a:hover,
.blog-list-1x .blog-list-right .recent-popular-post ul.recent-popular-nav li .active,
.blog-list-1x .blog-list-single .blog-list-content .blog-footer .dropright button i,
.blog-list-1x .blog-list-single .blog-list-content .blog-footer a.btn-small,
.blog-list-1x .blog-list-single .blog-list-content h2 a:hover,
.job-single-1x .job-features i,
.job-board-1x .single-job a,
.job-board-1x .single-job p i,
.job-board-1x .single-job h2 span,
.sign-in-1x .sign-in-form h4 a,
.sign-in-1x .sign-in-form ul li a:hover,
.features-description-2x .single-description .btn-bordered:hover,
.features-description-2x .single-description h2 span,
.testimonial-section-2x .slider-content p i,
.about-us-2x .about-us-left h2 span,
.course-header-1x .course-header-left .category ul li a:hover,
.course-header-1x .course-header-right .course-tab .nav-tabs .nav-link.active,
.product-description-1x .product-description-right .product-features ul li span a,
.product-description-1x .product-description-right .purchase-comments a i,
.product-description-1x .product-description-left .product-description-tab .nav-tabs .nav-link.active,
.social-link ul li:hover i,
.counter-section-2x .color-green span,
.course-grid-list .media:hover .product-content a,
.course-grid-list .media .media-body .product-content h3 span .btn-bordered,
.course-grid-list .media .media-body .product-content a:hover,
.single-product:hover .product-content a,
.single-product .product-details .product-content h3 span .btn-bordered,
.single-product .product-details .product-content a:hover,
.footer-section-1x .footer-top .footer-top-right .footer-social-link ul li:hover i,
.footer-section-1x .footer-top .footer-top-right ul li,
.cta-1x .cta-right .btn-large,
.main-menu-green .btco-hover-menu .collapse ul > li:hover > a.dropdown-item,
.btco-hover-menu .collapse ul > li:hover > a.dropdown-item,
.sign-in .media-dropdown .media .media-body h3,
.popular-tag-search.dark ul.esearch-tags li a:hover,
.service-3x.audio-service.dark .single-service a:hover,
.audio-version .album-poster:hover .product-content .audio-title a,
.audio-version .without-album-poster:hover .product-content .audio-title a,
.audio-version.dark-audio-filter .single-product:hover .product-content .audio-title a,
a.btn-bordered,
.mega-menu-wrapper .menu-single-item a:hover,
.service-3x.audio-service.dark .artist-list:hover h5,
.artist-list a:hover h5,
ul.wp-block-categories li:before,
ul.wp-block-archives li:before,
.widget ul li:before{
    color: #6caf17;
}

/* Primary Hover color */
.product-description-1x .product-description-left .product-description-tab .tab-content .author-downloads a:hover {
    color: #549006
}

/* Background Color */
.edd_pagination a.page-numbers:hover,
.edd_pagination span.page-numbers.current,
.page-links b, 
.page-links b:hover, 
.course-pagination ul li a.page-numbers:hover,
.course-pagination ul li .page-numbers.current,
.is-sticky .main-menu-1x,
.product-description-1x .product-description-right .price-box .custom-radio .custom-control-input:checked ~ .custom-control-label::before,
.checkout-page-1x .payment-info ul li .custom-radio .custom-control-input:checked ~ .custom-control-label::before,
.course-pagination ul .page-link:hover,
.course-pagination ul .page-item.active .page-link,
.course-header-1x .course-header-left .filter-product .container input:checked ~ .checkmark,
.course-header-1x .course-header-left .filter-product .container:hover input ~ .checkmark {
    background-color: #6caf17; 
}

/* Border 1px */
.btn.btn-search,
.pricing-plan-1x .single-pricing .btn-bordered,
.page-content button.btn.btn-search, 
.widget button.btn.btn-search,
.blog-list-1x .blog-list-single .blog-list-content .blog-footer a.btn-small,
.featured-product-single-8 .media .media-body a.category:after,
.about-us-3x .about-us-left a.btn-small,
.sign-in-1x .sign-in-form h3:after,
.features-description-2x .single-description .btn-bordered,
.testimonial-section-2x ul.slick-dots li button,
.course-header-1x .course-header-left .filter-product .container input:checked ~ .checkmark,
.main-banner .overlay-text button.btn.btn-search:focus,
a.btn-bordered,
.title-right-btn .btn-small,
.title-right-btn .btn-small:hover,
.pricing-plan-1x .single-pricing.active .btn-bordered {
    border: 1px solid #6caf17;
}

.title-right-btn .btn-small:hover {
    border: 1px solid #549006;
}

/*Border 3px*/
.product-description-1x .product-description-right .price-box .container input:checked ~ .checkmark,
.product-description-1x .product-description-right .price-box .container:hover input ~ .checkmark,
.pricing-plan-1x .single-pricing.active {
    border: 3px solid #6caf17; 
}

/*Border 5px*/
.product-description-1x .product-description-left .product-description-tab .nav-tabs .nav-link.active {
    border-top: 5px solid #6caf17; 
}
/*Border 10px*/
.trapezoid {
    border-bottom: 10px solid #6caf17;
}

/*Border 100px*/
.featured-sticker {
    border-top: 100px solid #6caf17;
}
/*Border 2px*/
.latest-product-1x.latest-product-2x .title-left h2:after,
.featured-product-3x .title-left h2:after,
.service-3x .title-left h2:after{
    border: 2px solid #6caf17;
}
.is-sticky .main-menu-1x.main-menu-6x .sign-in a:hover,
.is-sticky .main-menu-1x.main-menu-6x .main-menu .navbar-nav .nav-link:hover,
.is-sticky .main-menu-1x.main-menu-6x .navbar-light .navbar-nav .active > .nav-link{
    color: #ffffff;
}

/* ======= Start secondary color ======================================================================== */
.intro-social i,
.image-of-day a,
.category-style span.cat-name,
.auth-info a,
.blog-cat i,
.product-list-banner .overlay-text h1 b,
.product-list-banner .overlay-text h3 b,
.vendor-item h2 span,
.vendor-profile h2 span,
.blog-1x .blog-single .blog-single-content h3 i,
.testimonial-section-2x .single-testimonial p:before,
a.btn-bordered.app-store i, 
.app-section-1x a.btn-bordered.app-store i, 
.app-section-1x a.btn-bordered.google-play i,
.app-section-1x .app-text h2 span,
.pricing-plan-1x .single-pricing h2:before,
.section-link a,
.counter-section-1x .title-middle h2 span,
.blog-content i,
.recent-post i,
.testimonial-section-2x .single-testimonial p:before,
.team-members-left a i,
.subscribe-section-1x .footer-subscriber h2 span,
.testimonial-section-1x .slider-content p:before,
.main-banner .overlay-text .slider-feature ul li i,
.counter-section-1x .title-middle h2 span, 
.main-banner .overlay-text h1 span, 
.main-banner.main-banner-6x .overlay-text .slider-content-left h1 span, 
.title-middle h2 span, 
.blog-author .media .media-body h4 i,
.doc-block .doc-block-icon i,
.audio-version .product-content .price,
.title-left h2 span {
    color: #ffb307
}

.btn-hover.color-secondary,
.main-banner-2x .overlay-text .banner-slider ul.slick-dots li.slick-active button,
.pricing-plan-1x .single-pricing.active:hover .btn-bordered,
.pricing-plan-1x .single-pricing:hover .btn-bordered,
#bbpress-forums li.bbp-footer, 
#bbpress-forums li.bbp-header,
.category-style span.cat-item,
span.sticker-popular, 
span.sticker-new, 
span.sticker-feature,
.player-icon,
.featured-product-1x ul.slick-dots li.slick-active button,
.testimonial-section-1x ul.slick-dots li.slick-active button {
    background: #ffb307;
}

/* Secondary background hover */
.btn-hover.color-secondary:hover {
    background: #C98C00;
}

.testimonial-section-1x ul.slick-dots li button,
.main-banner-2x .overlay-text .banner-slider ul.slick-dots li.slick-active button,
.pricing-plan-1x .single-pricing.active:hover .btn-bordered,
.pricing-plan-1x .single-pricing:hover .btn-bordered,
.featured-product-1x ul.slick-dots li button,
.testimonial-section-1x ul.slick-dots li.slick-active button {
    border: 1px solid #ffb307;
}
.pricing-plan-1x .single-pricing h2:before {
    border-bottom: 5px solid #ffb307;
}

/* Font style */
.single-product .product-details .product-content.product-author p a,
.single-product .product-details .product-content h3 span .btn-bordered,
.testimonial-section-1x .single-slide h3,
.testimonial-section-1x .single-slide h4,
.event-speakers .single-speaker .speaker-details h2,
.single-product .product-details .product-content p a,
body {
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6,
.single-product .product-details.graphicland-product-details .content-title,
button.fes-ignore.fes-ignore-comments-form-submit-button.button,
button.fes-cmt-submit-form.fes-comments-form-submit-button.button,
a.fes-avatar-image-btn.edd-submit.button,
a.fes-feat-image-btn.edd-submit.button,
a#multiple,
a.edd-submit.button.upload_file_button,
.fes-vendor-contact-form div.fes-form .fes-submit input[type=submit],
.fes-login-form  div.fes-form .fes-submit input[type=submit],
.fes-registration-form  div.fes-form .fes-submit input[type=submit],
#edd-purchase-button, .edd-submit, [type=submit].edd-submit,
a.edd-add-to-cart,
a.edd-submit.button.blue,
.edd_purchase_submit_wrapper a.edd-add-to-cart.edd-has-js,
a.btn-small,
a.btn-ellips,
a.btn-bordered,
a.btn-circle,
.title-middle h2,
.title-left h2,
.alertbox-1x .alert p,
.sign-in a,
.main-banner .overlay-text h1,
.main-banner .overlay-text .slider-feature ul li,
.main-banner .overlay-text h2,
.service-1x .single-service h2,
.counter-section-1x .single-counter span,
.counter-section-single-product .single-counter span,
.how-works-1x .single-works h3,
.cta-1x .cta-left h3,
.become-partnar h2,
.feature-1x .single-feature h5,
.footer-subscriber h3,
.footer-section-1x .footer-top .footer-top-left .single-link h3,
.single-product .product-details .product-content a,
.single-product .product-details .product-content h3 strong,
.latest-product-1x .latest-product-title h2,
.latest-product-1x .latest-product-title-right .course-menu button.filter,
.course-grid-list .media .media-body .product-content a,
.course-grid-list .media .media-body .product-content h3 strong,
.counter-section-2x .single-counter .media .media-body span,
.checkout-docs .checkout-docs-left h3,
.pricing-plan-1x .single-pricing h2,
.pricing-plan-1x .single-pricing h3,
.faqs-1x .single-faq .card-header a,
.features-description-1x .single-description h2,
.product-management .product-content h2,
.subscribe-section-1x .footer-subscriber h2,
.app-section-1x .app-text h2,
.product-single-banner .product-banner-content h1,
.product-description-1x .product-description-left .product-description-tab .nav-tabs .nav-link,
.product-description-1x .product-description-left .product-description-tab .tab-content .item-details h3,
.product-description-1x .product-description-left .product-description-tab .tab-content .authors-review .media .media-body a,
.product-description-right .price-box h3,
.product-description-right .price-box h3 span b,
.product-description-right .price-box a.btn-small,
.product-description-right .company-details .media .media-body a,
.product-description-right .purchase-comments h2 span,
.product-description-right .purchase-comments a span,
.product-description-right .item-rating p,
.product-description-right .product-features ul li strong,
.product-description-right .social-link h3,
.product-description-right .author-mailling-form h3,
.course-header-1x .course-header-left h3,
.page-banner .overlay-text h1,
.page-banner .overlay-text h3,
.about-us-2x .about-us-left h2,
.service-4x .service-4x-left h2,
.feature-2x .single-feature .media .media-body h5,
.author-profile-banner .author-profile-left .media .media-body a,
.author-profile-banner .author-profile-right .sales-info h3,
h3#fes-products-page-title,
.vendor-dashboard-main legend#fes-submission-form-title,
.vendor-dashboard-main legend#fes-profile-form-title,
h3#fes-orders-page-title,
h1#fes-products-page-title,
.about-banner .overlay-text h3,
.about-banner .overlay-text h4,
.features-description-2x .single-description h2,
.features-description-2x .single-description h3,
.client-1x .client-title h4,
.sign-in-1x .sign-in-form h3,
.job-board-1x .single-job h2,
.job-single-1x h3,
.blog-1x-no-bg .title-left h2,
.related-post h3,
.blog-list-1x .blog-list-single .blog-list-content h2 a,
.blog-list-1x .blog-list-right .recent-popular-post ul.recent-popular-nav li .nav-link,
.blog-list-1x .blog-list-right .recent-popular-post .recent-popular-tab .recent-post .media a,
.blog-list-1x .blog-list-right .recent-popular-post ul.recent-popular-nav,
.custom-category h2,
h2.widgettitle, 
.blog-list-1x .blog-list-right h2,
.entry-content h1,
.blog-single-1x .blog-single-left-content h1,
h3#edd-reviews-heading,
h2#edd-reviews-title,
.blog-single-1x .blog-single-left-content .comment-form h3,
.blog-single-1x .blog-single-left-content .comment-section h3,
.blog-author .media .media-body h5,
.blog-1x .blog-single .blog-single-content a,
.events-banner .overlay-text h5,
.events-banner .overlay-text h4,
.events-banner .overlay-text .countdown-timer ul li,
.events-1x .events-single b,
.events-1x .events-single .events-single-content a,
.about-us-3x .about-us-left h2,
.about-us-3x .about-us-left h3,
.event-speakers-bg .single-speaker .speaker-details h2,
.comming-soon-banner .overlay-text .countdown-timer ul li,
.comming-soon-banner .overlay-text h3,
.error-page .error-page-content span,
.error-page .error-page-content p,
.author-profile-banner.author-profile-banner-2x .sale-price-info ul .item-price h2,
.product-single-banner .product-banner-right h3,
.service-2x .single-service h5,
.service-3x .single-service a,
.lfp-item-tabs .nav-tabs .nav-link,
.single-featured-product .featured-content a.prod-title,
.single-featured-product .featured-content h3,
.single-featured-product .featured-content h4,
.single-product-doc .doc-title h2,
.main-banner.main-banner-6x .overlay-text .slider-content-left h1,
.main-banner.main-banner-7x .overlay-text .slider-content-left h1,
.featured-product-single-8 .media h4,
.featured-product-single-8 .media .media-body a.prod-title,
.featured-product-single-8 .media .media-body h2,
.woocommerce-Reviews span#reply-title,
h3#order_review_heading,
label.woocommerce-form__label span, 
.blog-single-1x .blog-single-left-content .woocommerce-billing-fields h3,
.cart-collaterals .cart_totals h2,
.woocommerce h2,
.testimonial-section-1x .slider-content p,
.filter-content a,
.business-cta-3x .cta-content h3,
.cta-content h2,
.category-style span.cat-name,
.blog-content a,
.recent-item h2, .featured-item h2, .trending-item h2,
.audio-version .product-content .price,
.why-audio-service .left-desc h2,
.testimonial-section-3x .single-testimonial h2,
.doc-block-content h3,
.testimonial-section-2x .single-testimonial p,
.minimal.product-description-right h2,
.single-header-left-content h1,
.product-list-banner .overlay-text h3,
.author-profile-left.graphicland-profile span.author,
.author-profile-left.graphicland-profile span.author-title,
.author-assets .author-content h1,
.bbp-body a.bbp-forum-title,
a.bbp-topic-permalink,
.custom-cat-content span.cat-name,
blockquote,
a.btn-large {
    font-family: 'Roboto', sans-serif;
}
